main {
    width: 100%;
    /*height: 2100px;*/
    padding-bottom: 10px;
    display: var(--flex);
    justify-content: var(--center);
}

main .container-fotos {
    width: 100%;
    /*height: 100%;*/
    padding-bottom: 10px;
    margin-top: 65px;
    display: var(--flex);
    justify-content: var(--espaço-igual);
    align-items: var(--center);
    flex-wrap: wrap;
}

main .container-fotos .title {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    font-family: 'Livvic', sans-serif;
    font-size: 35pt;
    color: #3F3F3F;
    padding: 30px;
}

main .container-fotos .foto {
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    display: var(--flex);
    justify-content: var(--espaço-entre);
    align-items: var(--center);
    margin-top: 20px;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    background-position: var(--center);
    background-size: cover;
}

#foto1 {
    background-image: url("../../img/FOTOS/FOTO1.jpg");
}

#foto2 {
    background-image: url("../../img/FOTOS/FOTO2.jpg");
}

#foto3 {
    background-image: url("../../img/FOTOS/FOTO3.jpg");
}

#foto4 {
    background-image: url("../../img/FOTOS/FOTO4.jpg");
}

#foto5 {
    background-image: url("../../img/FOTOS/FOTO5.jpg");
}

#foto6 {
    background-image: url("../../img/FOTOS/FOTO6.jpg");
}

#foto7 {
    background-image: url("../../img/FOTOS/FOTO7.jpg");
}

#foto8 {
    background-image: url("../../img/FOTOS/FOTO8.jpg");
}

#foto9 {
    background-image: url("../../img/FOTOS/FOTO9.jpg");
}

#foto10 {
    background-image: url("../../img/FOTOS/FOTO10.jpeg");
}

#foto11 {
    background-image: url("../../img/FOTOS/FOTO11.jpg");
}


/*#foto12 {
    background-image: url("../../img/FOTOS/FOTO12.jpg");
}*/

#foto13 {
    background-image: url("../../img/FOTOS/FOTO13.jpg");
}

#foto14 {
    background-image: url("../../img/FOTOS/FOTO14.jpg");
}

#foto15 {
    background-image: url("../../img/FOTOS/FOTO15.jpg");
}

#foto16 {
    background-image: url("../../img/FOTOS/FOTO16.jpg");
}

#foto17 {
    background-image: url("../../img/FOTOS/FOTO17.jpg");
}

#foto18 {
    background-image: url("../../img/FOTOS/FOTO18.jpg");
}

#foto19 {
    background-image: url("../../img/FOTOS/FOTO19.jpg");
}

#foto20 {
    background-image: url("../../img/FOTOS/FOTO20.jpg");
}

#foto21 {
    background-image: url("../../img/FOTOS/FOTO21.jpg");
}

#foto22 {
    background-image: url("../../img/FOTOS/FOTO22.jpg");
}