main {
    width: 100%;
    /*height: 1100px;*/
    display: var(--flex);
    justify-content: var(--center);
    padding-bottom: 65px;
}

main .container-videos {
    width: 90%;
    /*height: 100%;*/
    padding-bottom: 10px;
    margin-top: 65px;
    background-color: #f8f8f8;
}

main .container-videos .title {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    font-family: 'Livvic', sans-serif;
    font-size: 35pt;
    color: #3F3F3F;
    padding: 30px;
}

main .container-videos .videos {
    width: 100%;
    height: 1000px;
    flex-wrap: wrap;
    display: var(--flex);
    justify-content: var(--espaço-igual);
    margin-top: 20px;
    color: #3F3F3F;
    font-family: 'Livvic', sans-serif;
}

main .container-videos .videos iframe {
    border: none;
}

main .container-videos .tabela {
    display: var(--flex);
    justify-content: var(--espaço-igual);
    align-items: var(--espaço-igual);
    color: #3F3F3F;
    font-family: 'Livvic', sans-serif;
    padding-top: 15px;
}

main .container-videos .tabela table {
    border: none;
}

main .container-videos .tabela ol {
    list-style: upper-roman;
}

#ttitle {
    font-weight: bold;
    background-color: #3f3f3f;
    color: white;
}

#total {
    background-color: #ee7205;
}